@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inconsolata", monospace;
}

:root {
  --neutral-0: hsl(0, 0%, 100%);
  --neutral-300: hsl(252, 6%, 83%);
  --neutral-500: hsl(245, 15%, 58%);
  --neutral-700: hsl(245, 19%, 35%);
  --neutral-900: hsl(248, 70%, 10%);
  --orange-500: hsl(7, 88%, 67%);
  --orange-700: hsl(7, 71%, 60%);
  --gradient: hsl(7, 86%, 67%) to hsl(0, 0%, 100%);
}

body {
  min-height: 100vh;
  text-align: center;
  background-image: url("./assets/images/pattern-lines.svg"),
    url("./assets/images/pattern-circle.svg"),
    url("./assets/images/pattern-squiggly-line-bottom-desktop.svg"),
    url("./assets/images/pattern-squiggly-line-top.svg"),
    url("./assets/images/background-desktop.png");
  background-position: center, 75% 60%, left bottom, right top 10%;
  background-repeat: no-repeat;
  padding: 35px;
}

.container--main {
  max-width: 800px;
  margin: 0 auto;
}

h1 {
  font-size: 45px;
  color: var(--neutral-0);
  line-height: 52px;
  padding: 30px 0;
}

main p {
  color: var(--neutral-300);
  font-size: 20px;
}

form {
  display: grid;
  gap: 25px;
  padding: 50px;
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
}

label {
  color: var(--neutral-300);
  font-weight: 600;
  font-size: 20px;
}

.form-field {
  display: grid;
  text-align: left;
  gap: 10px;
}

input {
  cursor: pointer;
}

input[type="text"],
input[type="email"] {
  height: 50px;
  background-color: transparent;
  border: none;
  padding: 15px;
  border-radius: 10px;
  outline: 2px solid var(--neutral-500);
}

input:hover {
  background-color: var(--neutral-700);
}

button {
  cursor: pointer;
}

button[type="submit"] {
  height: 50px;
  padding: 15px;
  border: none;
  border-radius: 10px;
  background-color: var(--orange-700);
  color: var(--neutral-900);
  font-weight: 800;
  font-size: 20px;
}

.file-input-container {
  width: 100%;
  padding: 20px;
  border: none;
  outline: 2px dashed var(--neutral-500);
  border-radius: 10px;
  display: grid;
  gap: 15px;
  text-align: center;
}

.file-info {
  display: flex;
  gap: 5px;
  align-items: center;
  color: var(--neutral-300);
  font-size: 8px;
  margin-top: -10px;
}

.uploadBtn {
  border: none;
  background-color: var(--neutral-700);
  height: 50px;
  width: 50px;
  border-radius: 10px;
  justify-self: center;
}

.inputText {
  color: var(--neutral-300);
  font-size: 14px;
}

.ticketContainer {
  margin: 100px 0;
  position: relative;
}

.ticketPattern {
  background-color: var(--neutral-900);
  width: 100%;
  max-width: 600px;
}

.ticketInnerContainer {
  width: 100%;
  max-width: 600px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 100%;
  padding: 20px 24px;
  text-align: left;
  display: grid;
}

.conferenceData {
  display: flex;
  gap: 20px;
  align-items: flex-start;
}

.conferenceDataText {
  display: grid;
  gap: 16px;
}

.ticketLogoText {
  font-size: 30px;
  font-weight: 800;
  color: white;
}

.ticketDateLocation {
  font-size: 14px;
}

.participantData {
  display: flex;
  gap: 20px;
  align-items: center;
}

.participantAvatar {
  height: 80px;
  width: 80px;
  border-radius: 10px;
}

.participantDataText {
  display: grid;
  gap: 16px;
}

.participantName {
  font-size: 24px;
  font-weight: 500;
  color: white;
}

.participantGithubContainer {
  display: flex;
  gap: 10px;
  align-items: center;
}

.githubIcon {
  width: 14px;
  height: 14px;
}

.githubUserName {
  font-size: 14px;
}

.ticketNumber {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  writing-mode: vertical-rl;
  font-size: 24px;
  color: var(--neutral-500);
  margin: auto 35px;
}

@media (max-width: 500px) {
  body {
    background-image: url("./assets/images/pattern-lines.svg"),
      url("./assets/images/pattern-squiggly-line-bottom-mobile-tablet.svg"),
      url("./assets/images/pattern-squiggly-line-top.svg"),
      url("./assets/images/background-mobile.png");
    background-position: center, left bottom, right top, center;
    background-size: auto, 200px, 100px 100px, cover;
    background-repeat: no-repeat;
    padding: 25px 15px;
  }

  h1 {
    font-size: 28px;
    line-height: 31px;
  }

  form {
    gap: 25px;
    padding: 45px 0;
  }

  label {
    font-size: 16px;
  }

  button[type="submit"] {
    font-size: 16px;
  }
}
